@model LeaveManagementSystem.Models.Account.ForgotPassword

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Account.cshtml";
}
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="register-box">
		<div class="register-logo">
			<a href="../../index2.html"><b>Admin</b>LTE</a>
		</div>
		<div class="register-box-body">
			<p class="login-box-msg">Forgot Password</p>

			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<form action="../../index.html" method="post">

				<div class="form-group has-feedback">
					<input type="email" class="form-control" placeholder="Email">
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-8">
						
					</div>
					<!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">Retreive</button>
					</div>
					<!-- /.col -->
				</div>
			</form>
			<a href="login.html" class="text-center">Register yourself</a>
		</div>
		<!-- /.form-box -->
	</div>

}




